*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
img{
	vertical-align: middle;
}
a{
	text-decoration: none;
	color: inherit;
}
a:hover{
	text-decoration: none;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.clearfis{
	*zoom:1;
}